* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   }
   

.spotify-wrapper{
    background: linear-gradient(to top, #050A09, #B03DFA);
    display: flex;
    align-items: center;
    justify-content: start;
    width: 1680px;
    height: 800px;
    padding: 5rem;
}

.text-box{
    text-align: center;
    background: black;
    padding-left: 150px;
    padding-top: 100px;
    align-items: center;
    width: 700px;
    /* height: 500px;     */
}

small{
    color: white;
    font-size: 1rem;
    font-weight: 200;
    margin: 10px;
    
}

h1{
    color: white;
    font-size: 3.8rem;
    font-weight: 900px;
    margin: 10px;

}

h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 10px;

}

button{
    font-size: 16px;
    font-weight: 700;
    background:#32CD32;
    color: white;
    border-radius: 30px;
    height: 55px;
    width: 400px;
}


.image-grid{
    background: none;
    width: 900px;
    height: 550px;  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

.card{
    max-width: 250px;
    max-height: 250px;
    margin: 5px;
    display: inline;
    align-items: center;  
    justify-content: center;
    padding: 5px;
    
}

.album-cover{
    max-width: 250px;
    max-height: 250px;
    cursor: pointer;
}
